.profile-container {
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}
.img1 {
  width: 100%;
  height: 300px;
  padding-right: 120px;
  /* padding-left: 120px; */
  position: absolute;
  /* border-radius:5%; */
}
.img2 {
  width: 19%;
  height: 19%;
  border-radius: 50% 50%;
  position: relative;
  top: 100px;
  left: 450px;
}
.container {
  padding-bottom: 10%;
}
.CenterAlign {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}
h2,
.textSyle {
  padding-top: 20px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
}
